@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
    <form action="Createsubmit" method="post">
        <lable>Title</lable>
        <input type="text" name="title" />
        <br />
        <label>Writer</label>
        <input type="text" name="writer" />
        <br />
        <label>Content</label>
        <input type="text" name="content" />
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>
