@model IEnumerable<WebApplication3.Models.Reducednotice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
</head>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<script type="text/javascript">
    function getData() {
        $.ajax({
            url: '/Home/GetNotice',
            type: 'POST',
            success: function (data) {
                console.log(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }
</script>

<button onclick="getData()">Click</button>
