@model IEnumerable<Notice_board.Models.Notice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@Url.Action("GetNotice", "Home")",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                update: {
                    url: "@Url.Action("UpdateOne", "Home")",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                create: {
                    url: "@Url.Action("CreateNew", "Home")",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                destroy: {
                    url: "@Url.Action("DeleteItem", "Home")",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                parameterMap: function (options, operation) {
                    if (operation == "read") {
                        if (options.sort) {
                            if (options.sort.length == 0) {
                                options.sort = { field: 'Id', dir: 'asc' };
                            } else {
                                options.sort = { field: options.sort[0]['field'], dir: options.sort[0]['dir'] };
                            }
                        }
                    }
                    return kendo.stringify(options);
                }
            },
            pageSize: 10,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { title: "Id", sortable: true, editable: false },
                        title: { title: "Title", sortable: false },
                        date: { title: "Date", sortable: false, editable: false },
                        content: { title: "Content", sortable: false },
                        writer: { title: "Writer", sortable: false }
                    }
                },
                data: "noticelist",
                total: "total"
            },
        });
        $("#noticetable").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            columns: [
                { field: "id", title: "Id", sortable: true},
                { field: "title", title: "Title", sortable: false },
                { field: "date", title: "Date", sortable: false},
                { field: "content", title: "Content", sortable: false},
                { field: "writer", title: "Writer", sortable: false },
                {command: ["edit", "destroy"], title: "Operations"}
            ],
            editable: "popup",
            sortable: true,
            filterable: true,
            toolbar: ["create"]
        });
        var grid = $("#noticetable").data("kendoGrid");
        grid.bind("save", bindDataAndRefresh);
    });
    function onGridEdit(e) {
        e.sender.one("dataBound", function (e) {
            e.sender.dataSource.read();
        });
    }
    function bindDataAndRefresh(e) {
        var grid = $("#noticetable").data("kendoGrid");
        grid.bind("dataBound", onGridEdit(e));
    }
</script>

<table id="noticetable">
</table>